@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'ND';
    src: url('fontes/NDR.ttf');
}

body {
    font-family: 'ND', sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    height: 100vh;
    background-image: url('imagens/KgJogos.png');
    background-position: top;
    background-size: cover; 
}

.header {
    margin: 0;
    background-image: url('imagens/image.png');
    background-size: cover;
    background-position: center;
    padding: 230px;
    color: #545454;
    position: relative; 
    z-index: 1; 
    border: 2px solid #ffffff;
}

nav {
    background-color: #395f9c;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    position: relative; 
    z-index: 2; 
}

nav ul li {
    display: inline-block; 
    margin-right: 600px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #cccccc;
    text-decoration: none;
    font-size: 18px;
    transition: all linear 160ms;
    padding: 10px; 
}

nav ul li a:hover {
    color: #ffffff; 
}

nav ul li:nth-child(1) a {
    color: #38B6FF; 
    text-decoration: underline; 
}

footer {
    position: fixed;
    top: 0;  
    width: 3%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 5px;
}

.footer-button {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}